node_modules/**
log/**
edge.sh
web/lib/libb.js
web/lib/test.js
web/localhost/dynamic/lib-libb.js
web/localhost/dynamic/lib-test.js
web/localhost/dynamic/p_test.hbs
web/localhost/dynamic/p_test.js
artefact/**
py/lib/**
py/bin/**
py/pyvenv.cfg
py/.*
