<div class="ui fluid container">
  <div class="ui celled grid">
    <div class="row">
      <div class="one wide column"></div>
      <div class="one wide column">
      <img src="http://mban-debug:8080/gehc.png" height="60px">
      </div>
      <div class="four wide column">
      <h1>
        <font size="40px">
        MBAN PowerSniffer
        </font>
        </h1>
      </div>
    </div>
    <div class="row">
      {{!-- <div class="six wide column" name="touch" data-src="hbs_p_lomake" data-js="p_lomake" data-form="touch"
        data-data='{"u":"moi"}'></div> --}}
      <div class="sixteen wide column">
        <canvas style="border:1px solid olive;" name="paint" width="2200" height="1200" data-src="hbs_p_touch"
          data-js="p_touch"></canvas>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>