<h1>
  TADAA!!!
</h1>
<div
  name="login"
  class="ui fluid card"
  data-src="hbs_p_lomake"
  data-js="p_lomake"
  data-form="login"
  data-data='{"u":"moi"}'
  data-title="POKS NAKS!!"
></div>
<div
  name="login2"
  class="ui fluid card"
  data-src="hbs_p_lomake"
  data-js="p_lomake"
  data-form="login"
  data-data="{}"
></div>